{% extends "padre.html" %}
{% load static %}

{% block encabezado %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1 style="color: white">Sobre nostros</h1>
                        <span class="subheading" style="color: white">Esto es lo que hacemos.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block contenido %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <br>
                    <div>
                        <h3>Hola soy Daniel</h3>
                        <p>Mi nombre es Daniel, y aun estamos trabajando en esta seccion</p>
                    </div>
                    <br>
                    <div>
                        <h3>Hola soy Cesar</h3>
                        <p>Mi nombre es Cesar, y aun estamos trabajando en los usuarios tambien :)</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}