{% extends "padre.html" %}
{% load static %}

{% block encabezado %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1 style="color: white; text-align: center;">Sobre nostros</h1>
                        <h5 class="subheading" style="color: white; text-align: center;">Esto es lo que hacemos.</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block contenido %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <br>
                    <div>
                        <h3>Coder #1 Daniel Colorado Londoño</h3>
                        <p>Mi nombre es Daniel, soy ingeniero Mecatrónico con experiencia en automatizacion industrial.
                            Sin embargo, la vida misma me ha enseñado otros caminos. Actualmente vivo en Australia, y no trabajo en nada relacionado.
                            Descubri ser un apasionado por la programacion, y aqui estamos, cada dia aprendiendo mas de este mundo.
                        </p>
                        <img src="../static/assets/img/danielcolorado.jpg" width="700">
                    </div>
                    <br>
                    <div>
                        <h3> Coder # 2 Cesar Pacheco Rojas</h3>
                        <p>Mi nombre es Cesar, soy Estudiante de Ingeniería Mecatrónica en la universidad ECCi,
                            estudiante de CoderHouse, desarrollador Python, me considero un guerrero de la vida siempre alegre, siempre listos… 
                        </p>
                        <img src="../static/assets/img/Cesar.PNG" width="700">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block avatar %}
<img src= "{{ avatar }}" width="50">
{% endblock %}