{% extends "padre.html" %}
{% load static %}

{% block encabezado %}
<!-- Page Header    url('./static/assets/img/post-bg.jpg')  -->
    <header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ lectura_publicacion.titulo }}</h1>
                        <h2 class="subheading">{{ lectura_publicacion.subtitulo }}</h2>
                        <span class="meta">
                            Publicado por {{ lectura_publicacion.autor }}
                            en {{ lectura_publicacion.fecha}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block contenido %}
<!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{ lectura_publicacion.cuerpo | safe }}</p>
                    <img class="img-fluid" src= "{{ lectura_publicacion.imagen.url }}" alt="..." /></a>

                </div>
            </div>
        </div>
    </article>
{% endblock %}
