{% extends "padre.html" %}
{% load static %}

{% block encabezado %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/assets/img/chicago.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 style="color: white; text-align: center;">Perfil de usuario</h1>
                    <h3 style="color: white; text-align: center;">{{ mensaje_registro }}</h3>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenido %}
<!---->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <h2>Informacion del usuario</h2>
                <hr class="my-4" /> 
                <div class="post-preview">
                    <table>
                        <p>Username: {{ user.username }}</p>
                        <p>First name: {{ user.first_name }}</p>
                        <p>Last name: {{ user.last_name }}</p>
                        <p>email: {{ user.email }}</p>
                        <div>
                            <a class="btn btn-primary text-uppercase" href="{% url 'user_edit' %}">Editar usuario</a> <a class="btn btn-primary text-uppercase" href="{% url 'password_edit' %}">Cambiar contraseña</a>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>    
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br>
                <h2>Informacion del perfil</h2>
                <hr class="my-4" /> 
                <div class="post-preview">
                    <table>
                        <p>Descripcion: {{ descripcion }}</p>
                        <p>web: {{ web }}</p>
                        <br>
                        <p><small>Desde aqui se puede cambiar el avatar</small></p>
                        <div>
                            <a class="btn btn-primary text-uppercase" href="{% url 'profile_edit' %}">Editar perfil</a>
                        </div>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>     
{% endblock %}

{% block avatar %}
<img src= "{{ avatar }}" width="50">
{% endblock %}